body {
  background-color: #988B8E;
}

#title {
  margin-top: 55px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 75px;
}

.row {
  margin-top: 35px;
}

.time-adjust {
  display: inline-block;
}

button {
  border: none;
  background: none;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 15px;
}

button:focus {
  outline: none;
}

p {
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
}

.clock {
  border-radius: 50%;
  border: medium solid #7A7265;
  width: 300px;
  height: 300px;
  padding-top: 30px;
  margin: 35px auto;
  display: inline-block;
  background-color: white;
}

#elapsedTime {
  margin-top: 83px;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

#reset {
  background-color: #C0B7B1;
  border-color: #7A7265;
  border-width: 3px;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-style: bold;
  font-size: 20px;

}



