body {
  background-color: #988B8E;
}

#title {
  margin-top: 100px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 75px;
}

.row {
  margin-top: 50px;
}

.time-adjust {
  display: inline-block;
}

button {
  border: none;
  background: none;
  margin-right: 5px;
  margin-left: 5 px;
  font-size: 15px;
}

button:focus {
  outline: none;
}

p {
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
}

.clock {
  border-radius: 50%;
  border: medium solid black;
  width: 300px;
  height: 300px;
  padding-top: 30px;
  margin: 45px auto;
  display: inline-block;
  background-color: white;
}

#elapsedTime {
  margin-top: 83px;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

